<!DOCTYPE html>
<html>
<head>
  <title>Viking Pizza || Tananger, Norway</title>
  <meta name="description" content="Great Pizza, Kebab, Burgers and Salad, Tananger" />
  <meta name="keywords" content="Pizza, Kebab, Burgers, Salad, Tananger" />
	<%= favicon_link_tag %>
  <%= stylesheet_link_tag :all %>
	<%= javascript_include_tag "jquery-1.4.3" %>
  <%= javascript_include_tag 'rails' %>
  <%= csrf_meta_tag %>
	<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
	<link  href="http://fonts.googleapis.com/css?family=Allan:bold" rel="stylesheet" type="text/css" >
</head>